.glass{
    border-radius: 7.5px;
    background-color: rgba(255, 255, 255, 0.2);
}
.flat{
    outline: none;
    border: none;
    box-shadow: none;
}

.font_big{
    font-size: 25px;
    font-weight: 900;
}
.title_box{
    padding: 10px;
}
.font_medium{
    font-size: 18px;
    font-weight: 600;
}
.font_bold{
    font-weight: 600;
}
.font_light{
    color: rgba(255,255,255,0.5);
}
.font_small{
    font-size: 14px;
}
.font_app_title{
    font-size: 16px;
    font-weight: 550;
}

.main_window{
    box-shadow: 0px 1px 6px rgba(0,0,0,0.3),
    0px 2px 12px rgba(0,0,0,0.15),
    0px 6px 32px rgba(0,0,0,0.1);
    border-radius:13px;
    border : 1px solid rgba(100, 100, 100,.3);
    background-color: #282828;
    transition-duration: 0.75s;
}

/* ------------- day --------------- */

.clear_sky, .few_clouds {

    background: linear-gradient(127deg, alpha(rgb(207, 208, 189), 1), alpha(rgb(0, 134, 218), 0) 100%),
    linear-gradient(217deg, alpha(rgb(207, 208, 189), 1), alpha(rgb(0, 134, 218), 1) 100%),
    linear-gradient(336deg, alpha(rgb(207, 208, 189), 1), alpha(rgb(0, 134, 218), 1) 100%);

} .overcast, .showers_scattered{

    background: linear-gradient(127deg, alpha(rgb(185, 185, 185), 1), alpha(rgb(0, 134, 218), 0) 100%),
    linear-gradient(217deg, alpha(rgb(185, 185, 185), 1), alpha(rgb(0, 134, 218), 1) 100%),
    linear-gradient(336deg, alpha(rgb(185, 185, 185), 1), alpha(rgb(0, 134, 218), 1) 100%);

} .showers_large {

    background: linear-gradient(127deg, alpha(rgb(134, 137, 154), 1), alpha(rgb(134, 137, 154), 0) 100%),
    linear-gradient(217deg, alpha(rgb(134, 137, 154), 1), alpha(rgb(0, 134, 218), 1) 100%),
    linear-gradient(336deg, alpha(rgb(134, 137, 154), 1), alpha(rgb(0, 134, 218), 1) 100%);

} .storm{

    background: linear-gradient(127deg, alpha(rgb(117, 117, 102), 1), alpha(rgb(134, 137, 154), 0) 100%),
    linear-gradient(217deg, alpha(rgb(117, 117, 102), 1), alpha(rgb(14, 83, 126), 1) 100%),
    linear-gradient(336deg, alpha(rgb(117, 117, 102), 1), alpha(rgb(14, 83, 126), 1) 100%);

} .snow{

    background: linear-gradient(127deg, alpha(rgb(208, 209, 217), 1), alpha(rgb(134, 137, 154), 0) 100%),
    linear-gradient(217deg, alpha(rgb(208, 209, 217), 1), alpha(rgb(89, 89, 89), 1) 100%),
    linear-gradient(336deg, alpha(rgb(103, 103, 103), 1), alpha(rgb(118, 118, 118), 1) 100%);

} .fog{

    background: linear-gradient(127deg, alpha(rgb(126, 126, 126), 1), alpha(rgb(126, 126, 126), 1) 100%),
    linear-gradient(217deg, alpha(rgb(126, 126, 126), 1), alpha(rgb(126, 126, 126), 1) 100%),
    linear-gradient(336deg, alpha(rgb(126, 126, 126), 1), alpha(rgb(126, 126, 126), 1) 100%);

} 

/* ------------- night --------------- */

.clear_sky_night, .few_clouds_night{

    background: linear-gradient(127deg, alpha(rgb(0, 20, 33), 1), alpha(rgb(3, 0, 41), 0) 100%),
    linear-gradient(217deg, alpha(rgb(0, 15, 20), 1), alpha(rgb(3, 0, 41), 1) 100%),
    linear-gradient(336deg, alpha(rgb(0, 15, 20), 1), alpha(rgb(3, 0, 41), 1) 100%);


} .overcast_night, .showers_scattered_night {

    background: linear-gradient(127deg, alpha(rgb(0, 34, 45), 1), alpha(rgb(3, 0, 41), 0) 100%),
    linear-gradient(217deg, alpha(rgb(0, 15, 20), 1), alpha(rgb(3, 0, 41), 1) 100%),
    linear-gradient(336deg, alpha(rgb(0, 15, 20), 1), alpha(rgb(3, 0, 41), 1) 100%);

} .showers_large_night {

    background: linear-gradient(127deg, alpha(rgb(2, 27, 35), 1), alpha(rgb(3, 0, 41), 0) 100%),
    linear-gradient(217deg, alpha(rgb(31, 31, 31), 1), alpha(rgb(3, 0, 41), 1) 100%),
    linear-gradient(336deg, alpha(rgb(31, 31, 31), 1), alpha(rgb(3, 0, 41), 1) 100%);

} .storm_night{

    background: linear-gradient(127deg, alpha(rgb(33, 35, 2), 1), alpha(rgb(3, 0, 41), 0) 100%),
    linear-gradient(217deg, alpha(rgb(31, 31, 31), 1), alpha(rgb(3, 0, 41), 1) 100%),
    linear-gradient(336deg, alpha(rgb(31, 31, 31), 1), alpha(rgb(3, 0, 41), 1) 100%);

} .snow_night{

    background: linear-gradient(127deg, alpha(rgb(208, 209, 217), 1), alpha(rgb(208, 209, 217), 0) 100%),
    linear-gradient(217deg, alpha(rgb(208, 209, 217), 1), alpha(rgb(211, 238, 255), 1) 100%),
    linear-gradient(336deg, alpha(rgb(208, 209, 217), 1), alpha(rgb(181, 187, 190), 1) 100%);

} .fog_night{

    background: linear-gradient(127deg, alpha(rgb(0, 20, 33), 1), alpha(rgb(3, 0, 41), 0) 100%),
    linear-gradient(217deg, alpha(rgb(0, 15, 20), 1), alpha(rgb(47, 47, 47), 1) 100%),
    linear-gradient(336deg, alpha(rgb(0, 15, 20), 1), alpha(rgb(3, 0, 41), 1) 100%);
} 
